* {
    box-sizing: border-box;
}

:root {
    --bg: #dbd1b7;
    --intro-bg: #6b8c7d;
    --intro-color: #dfd0a4;
    --card-bg: #fff3ce;
}

 body {
    background-color: var(--bg);
    font-family: "Roboto Slab", serif;
    padding: 0;
    margin: 0;
}

.intro {
    background-color: var(--card-bg);
    color: var(--intro-color);
    padding: 0.5rem;
    margin: 1rem;
    color: black
}

.intro .intro__header{
    text-align: center;
}

.container {
    margin: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
    border: solid;
    border-color:#ddd ;
    border-radius: 8px;
    width: 100%;

}

.card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }



.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.card__header {
    text-align: center;
    background-color: #f5f5f5;
    padding: 0.5rem;
}

.card__body {
    align-content: center;
}
.cart__body__text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 768px) {
    .container {margin: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr
}

}

@media screen and (max-width: 425px){
    .container {margin: 1rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
}
}
